<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%-include('./partials/head'); %>
    <title><%=title %></title>
</head>
<body>
<%-include('./partials/navbardd'); %>

<div class="container">
    <div class="row">
        <div class="col text-wrap fs-4 margin-content" style="background-color: #EAAF75; ">
            <p>Кабинет эстетической косметологии</p>
            - лечение купероза, акне, постакне, пигментных пятен<br>
            - процедуры для кожи глаз, шеи и декольте<br>
            - экспресс-процедуры для занятых людей<br>
            - химические пилинги,микронидлинг, мезотерапия
        </div>
		<div class="col  text-center margin-content">
            <img src="/image/cosmetic00-500.jpg" class="img" alt="map">
        </div>
        <div class="col text-center text-wrap fs-3 " style="background-color: #EA8541; margin: 30px 0px 0px 0px;">
            <p>Алена</p>
           093 721 2146<br>
		   067 750 7230
			
        </div>
        
    </div>

    <div class="row">
        <div class="col text-center text-wrap fs-3 margin-content" style="background-color: #EFA088;">
            <p>Восковая депиляция</p>
            Шугаринг (эпиляция сахарной пастой)
			Наращивание ресниц (пореснично, 2D и 3D)
        </div>

        <div class="col text-center text-wrap fs-3 margin-content-center" style="background-color: #AFC66D;">
            <p>Макияж</p>
            <p>оформление бровей </p>
            <p>покраска бровей и ресниц </p>
            <p>биотатуаж хной</p>
        </div>

        <div class="col text-center text-wrap fs-3 margin-content" style="background-color: #AFC66D;">
           <p>Мы поможем Вам приумножить красоту и сохранить молодость!</p>
            
        </div>


    </div>


</div>

<%-include('./partials/footer'); %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>