<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%-include('./partials/head'); %>
    <title><%=title %></title>
</head>
<body>
<%-include('./partials/navbardd'); %>

<div class="container">
    <div class="row">
        <div class="col margin-content">
            <img src="/image/s0002.jpg" class="img-fluid" alt="sauna">
            <h2>Сауна</h2>
            <p>Приятное место для Вашего отдыха - уютная сауна с камином, расположенная в центре города. Сюда легко добраться как общественным транспортом, так и на личном авто.</p>
        </div>
        <div class="col margin-content">
            <img src="/image/anticelmassag_sm.jpg" class="img-fluid" alt="massage">
            <h2>Массажный кабинет</h2>
            <p>Хотите снять напряжение в мышцах, усталость, улучшить кровообращение и почувствовать себя лучше? Мы ждем Вас! Общий, антицеллюлитный, тайский и др. виды массажа.</p>
        </div>
        <div class="col margin-content">
            <img src="/image/mesotherapy0_sm.jpg" class="img-fluid" alt="makiag">
            <h2>Кабинет эстетической косметологии</h2>
            <p>Предлагаем высококвалифицированные услуги, индивидуальный и бережный подход к Вашей коже. Мы поможем Вам приумножить красоту и сохранить молодость!</p>
        </div>
    </div>
</div>

<%-include('./partials/footer'); %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>