<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%-include('./partials/head'); %>
    <title><%=title %></title>
</head>
<body>
<%-include('./partials/navbardd'); %>

<div class="container">
    <div class="row">
        <div class="col col-lg-3 text-wrap fs-4 margin-content" style="background-color: #EAAF75;">
            <p>Приглашаем Вас провести время в уютной и комфортабельной сауне.</p>
            <p>Вместимость сауны до 10-ти человек.</p>
        </div>
        <div class="col col-lg-6 text-center margin-content">
            <img src="/image/sauna_500.jpg" class="img min-with:60%; height: auto;" alt="map">
        </div>
        <div class="col col-lg-3 text-center text-wrap fs-3 margin-content" style="background-color: #EA8541;">
            <p>Работаем</p>
            <p class="text-danger fw-bold">КРУГЛОСУТОЧНО</p>
            <p>без выходных</p>
            <p class="text-success">тел. 067-566-02-50</p>
            <p class="text-success">тел. 093-095-48-14</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3 text-center text-wrap fs-3 margin-content" style="background-color: #EFA088;">
            <p>Халат и веник за отдельную плату</p>
            <p>Комплект: простынь, полотенце, шапочка, тапочки, шампунь, гель для душа.</p>
        </div>
            <div class="col col-lg-6 text-center margin-content">
                <img src="/image/sauna01_500.jpg" class="img" alt="map">
            </div>
        <div class="col col-lg-3 text-center text-wrap fs-3 margin-content" style="background-color: #AFC66D;">
            <p>Ночь <br> с 24-00 до 8-00<br>
            (в стоимость входит комната отдыха) минимальное посещение - 2 часа</p>

        </div>
    </div>


</div>

<%-include('./partials/footer'); %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>