<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%-include('./partials/head'); %>
    <title><%=title %></title>
</head>
<body>
<%-include('./partials/navbardd'); %>

<div class="container">
    <div class="row">
        <div class="col text-wrap fs-3 margin-content" style="background-color: #EAAF75;">
            Приглашаем Вас провести время в уютной и комфортабельной сауне, расслабиться под потрескивание дров в камине.
            Вместимость сауны до 10-ти человек.
        </div>
        <div class="col margin-content">
            <img src="/image/sauna_600.jpg" class="img" alt="map">
        </div>
        <div class="col text-wrap fs-3 margin-content" style="background-color: #EAAF75;">
            Работаем
            КРУГЛОСУТОЧНО
            без выходных
            тел. 067-566-02-50
            тел. 093-095-48-14
        </div>

    </div>

</div>

<%-include('./partials/footer'); %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>