<div class="container footer">
    <div class="row">
        <div class="col">
            <p class="text-start fs-5 fw-bold text-footer">Copyright © 2022</p>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <p class="text-end fs-5 fw-bold text-footer">Genak64@ukr.net</p>
        </div>
    </div>
</div>